<div *ngIf="(port$ | async) as port">
  <h2>Port {{ port.portNumber }}</h2>
  <h3>Informations</h3>
  <div class="row">
    <div class="col-2">
      <button class="w-100 btn btn-primary" [disabled]="port.roomNumber == null"
              (click)="IfRoomExists(port.roomNumber)">Chambre {{ port.roomNumber }}
      </button>
    </div>
    <div class="col-2">
      <a [routerLink]="['/switch/view', port.switchID]">
        <button class="w-100 btn btn-primary">Switch {{ port.switchID }}</button>
      </a>
    </div>
  </div>
  <p></p>
  <h3>Configuration</h3>
  <br/>
  <div class=row>
    <div class="col-2">
      <button class="w-100 btn"
              [ngClass]="{true:'btn-success',
    false:'btn-danger'}[portStatus]"
              (click)="toggleStatus()"
      >Actif : {{ portStatusString }}
      </button>
    </div>
    <div class="col-2">
      <button class="w-100 btn btn-primary"
              [ngClass]="{true:'btn-success',
      false:'btn-danger'}[portAuth]"
              (click)="toggleAuth()"
      >Authentification : {{ portAuthString }}
      </button>
    </div>
  </div>
  <div class=row>
    <div class="col-2">
      <strong>VLAN {{ vlan }}</strong><br/>
      <button class="w-100 btn btn-primary" (click)="changeVlanVisible = !changeVlanVisible">Changer de VLAN</button>
      <div [ngStyle]="{'visibility': changeVlanVisible?'visible':'hidden'}">
        <select [(ngModel)]="selectedVlan">
          <option *ngFor="let v of vlans" [ngValue]="v.value">{{ v.name }}</option>
        </select>
        <button class="w-100 btn btn-primary" (click)="changeVlan(selectedVlan)">Assigner au VLAN {{ selectedVlan }}
        </button>
      </div>
    </div>
    <div class="col-2">
      <strong>Vitesse 10Mb/s</strong><br/>
      <button class="w-100 btn btn-primary">Changer le débit</button>
    </div>
  </div>
</div>
