<div class="dashboard">
  <img class="w-50" src="../assets/logoMiNET.png">
  <br/><br/>

  <div class="row">
    <div class="col-md-6">
      <a [routerLink]="['/member/add']">
        <button class="btn btn-primary w-100" style="margin-bottom: 5px;">Nouvelle inscription</button>
      </a>
    </div>
    <div class="col-md-6">
      <a [routerLink]="['/naina']">
        <button class="btn btn-primary w-100">Créer un compte NainA</button>
      </a>
    </div>
  </div>
  <br/>
  <app-global-search></app-global-search>
</div>
