<div class="dashboard">
  <img class="u-full-width" src="../assets/logoMiNET.png">
  <br/>
  <div class="row">
    <div class="six columns">
      <a [routerLink]="['/member/add']">
        <button class="button-primary u-full-width">Nouvelle inscription</button>
      </a>
    </div>
    <div class="six columns">
      <a [routerLink]="['/naina']">
        <button class="button-primary u-full-width">Créer un compte NainA</button>
      </a>
    </div>
  </div>
  <app-global-search></app-global-search>
</div>
