<h2>Liste des appareils</h2>
<div class="row">
  <div class="seven columns">
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="u-full-width" type="text"/>
  </div>
  <div class="five columns">
    <a [routerLink]="['../add']"><button class="u-full-width
        button-primary">Nouvel appareil</button></a>
  </div>
</div>
<div style="overflow-x:auto;" class="u-max-full-width">
  <table class="u-full-width"> 
    <tr>
      <th>Utilisateur</th>
      <th class="center">MAC de l'appareil</th>
      <th class="center">Type d'appareil</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let device of devices$ | async | paginate: { itemsPerPage:
      items_per_page, currentPage: page_number, totalItems: item_count}">
      <td><a [routerLink]="['../../member/view', device.username]">{{ device.username }}</a></td>
      <td class="center">{{ device.mac }}</td>
      <td class="center">{{ device.connectionType }}</td>
      <td><a [routerLink]="['../view' , device.mac]"><button>Consulter</button></a></td>
    </tr>
  </table>
  <pagination-controls 
    class="pagination" 
    (pageChange)="refreshDevices($event)"
    previousLabel="" nextLabel=""
    ></pagination-controls>
</div>
