.association-button {
  white-space: normal;
  line-height: 2em;
  font-size: 1em;
  height: auto;
  padding: 0;
}

/* Remove the border between the mac and the details */
.device_row td {
  cursor: pointer;
}

.device_details_area {
  background-color: azure;
}

/* Shift the details to the right */
.device_details_area td {
  padding-left: 2em;
}

.device_details {
  margin-top: 0;
  margin-bottom: 1em;
}

.device_details tr td {
  padding: 0 1em 0 0;
  border-bottom: 0;
}

.device_property {
  padding-right: 1em;
  font-weight: bold;
}

.commentaire {
  margin: 1em auto;
  padding: 0.3em;
  border: 0.2em solid #65B5EA;
  text-align: center;
  font-weight: bold;
  word-wrap: break-word;
}

.image-disi {
  margin: 0 auto 1em;
}

.profile-field {
  width: 1%;
  white-space: nowrap;
  font-weight: bold;
}
.shift-content-right tbody tr td, .shift-content-right thead tr th {
  padding-left: 1em;
}

.table-title {
  margin-bottom: 0;
}

.mac_highlighted {
  background-color: bisque;
}
