<div *ngIf="(member$ | async) as member" class="row">
  <!-- Left column -->
  <div class="nine columns">
    <h2>{{ member.firstName }} {{ member.lastName }}</h2>
    <!--
        <div class="four columns">
          <button class="u-full-width" (click)="onCotisation()">Cotiser</button>
        </div>
    -->

    <div class="row">
      <table class="u-full-width shift-content-right">
        <thead>
        <tr>
          <th colspan="2"><h3 class="table-title">Profil</h3></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="profile-field">Identifiant DISI</td>
          <td>{{member.username}}</td>
        </tr>
        <tr>
          <td class="profile-field">Mail</td>
          <td><a href="mailto:{{member.email}}">{{member.email}}</a></td>
        </tr>
        <tr>
          <td class="profile-field">Date de départ</td>
          <td>{{member.departureDate}}</td>
        </tr>
        <tr>
          <td class="profile-field">Chambre</td>
          <td>
            <button class="button" [disabled]="member.roomNumber == null"
                    (click)="IfRoomExists(member.roomNumber)">{{ member.roomNumber || "Aucune" }}
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <a [routerLink]="['/member/edit/', member.username ]">
        <button class="u-full-width">Éditer le profile</button>
      </a>
    </div>

    <div *ngIf="cotisation">
      <h3>Cotisation</h3>
      <div class="row">
        <div class="six columns">
          <select class="u-full-width" type="text" formControlName=""
                  placeholder="Renouvellement">
            <option value="">Renouvellement</option>
            <option value="1">1 mois (9€) - date</option>
            <option value="2">2 mois (18€) - date</option>
            <option value="3">3 mois (27€) - date</option>
            <option value="4">4 mois (36€) - date</option>
            <option value="5">5 mois (45€) - date</option>
            <option value="6">1 an (50€) - date</option>
          </select>
          <select class="u-full-width" type="text" formControlName=""
                  placeholder="Matériel">
            <option value="">Matériel</option>
            <option value="3m">Câble 3m</option>
            <option value="5m">Câble 5m</option>
          </select>
        </div>
        <div class="six columns">
          <select class="u-full-width" type="text" formControlName=""
                  placeholder="Payé par">
            <option value="">Payé par</option>
            <option value="liq">Liquide</option>
            <option value="cb">Carte Bancaire</option>
            <option value="chq">Chèque</option>
            <option value="smsch">Summer School</option>
          </select>
          <button class="u-full-width button-primary">Valider</button>
        </div>
      </div>
    </div>
    <!-- Device list -->
    <table class="u-full-width shift-content-right">
      <thead>
      <tr>
        <th><h3 class="table-title">Appareils</h3></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let device of all_devices$ | async">
        <tr class="device_row" (click)="toggleSelectionDevice(device)">
          <td>{{ device.mac }}</td>
          <td><a>Détails</a></td>
        </tr>
        <tr *ngIf="isSelectedDevice(device)" class="device_details_area">
          <td colspan="2">
            <table class="device_details">
              <tr>
                <td class="device_property">Type:</td>
                <td style="font-style: italic">{{ device.connectionType }}</td>
              </tr>
              <tr>
                <td class="device_property">IPv4:</td>
                <td>{{ device.ipAddress }}</td>
              </tr>
              <tr>
                <td class="device_property">IPv6:</td>
                <td>{{ device.ipv6Address }}</td>
              </tr>
              <tr>
                <td class="device_property">Fabriquant:</td>
                <td>Unknown</td>
              </tr>
            </table>
            <a (click)="onDelete(device.mac)">
              <button [disabled]="submitDisabled" class="button-danger">Supprimer</button>
              |
            </a>
            <button
              (click)="onMAB()"
              class="u-max-full-width"
              [disabled]='MABdisabled'
              [ngClass]="{
                      'off':'button-warning',
                      'on':'button-success',
                      'wifi':'button-primary'
                      }[MAB]"
            >{{ MAB }}
            </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <div class="row">
      <form [formGroup]="deviceForm" (ngSubmit)="onSubmitDevice()" novalidate>
        <div class="four columns">
          <input class="u-full-width" type="text" formControlName="mac">
        </div>
        <div class="three columns">
          <select class="u-full-width" type="text"
                  formControlName="connectionType">
            <option value="wired">Filaire</option>
            <option value="wireless">Wi-Fi</option>
          </select>
        </div>
        <div class="five columns">
          <button type="submit"
                  [disabled]="submitDisabled || deviceForm.status == 'INVALID'"
                  class="u-full-width button-primary">Ajouter l'appareil
          </button>
        </div>
      </form>
    </div>
    <h3>Commentaire</h3>
    <form [formGroup]="commentForm" (ngSubmit)="onSubmitComment()" novalidate>
      <textarea class="u-full-width" formControlName="comment"></textarea>
      <div class="row">
        <button type="submit" class="u-full-width button-primary"
                [disabled]="submitDisabled">Envoyer
        </button>
      </div>
    </form>
    <h3>Journal</h3>
    <div style="overflow:auto; max-height: 30em; font-family: 'Lucida Console', Monaco, monospace; font-size: small;">
      <ul class="nobullet u-max-full-width">
        <li *ngFor="let log of log$ | async">
          <span style="color:blue">{{ extractDateFromLog(log) | date:"dd/MM/yyy HH:mm:ss" }}</span> {{
          extractMsgFromLog(log) }}
        </li>
      </ul>
    </div>
  </div>

  <!-- Right column -->
  <div class="three columns">
    <!-- Comment -->
    <div class="u-full-width" [ngClass]="{'commentaire': member.comment!=null}">{{ member.comment }}</div>
    <!-- DISI picture -->
    <img class="u-full-width image-disi"
         src="https://trombi.imtbs-tsp.eu/photo.php?uid={{ member.username }}&h=320&w=240"/>
    <!-- Association button -->
    <button class="button-primary u-full-width association-button">Association des périphériques</button>
    <!-- History -->
  </div>
</div>
