<div *ngIf="(switch$ | async) as switch">
  <h2>{{ switch.description }}</h2>
  <p><strong>Adresse IP:</strong> {{ switch.ip }}</p>
  <table class="u-full-width">
    <tr>
      <th class="center">Numéro de port</th>
      <th class="center">Numéro de chambre</th>
      <th></th>
    </tr>
    <tr *ngFor="let portResult of ports$ | async">
      <td class="center">{{ portResult.portNumber }}</td>
      <td class="center">
        <a [routerLink]="['/room/view', portResult.roomNumber]">
          {{ portResult.roomNumber }}</a></td>
      <td class="center"><a [routerLink]="['port/', portResult.portID]"><button>Consulter</button></a></td>
    </tr>
  </table>
</div>
