<div *ngIf="(account$ | async) as account">
  <h2 class="text-left">Liste des écritures du compte {{ account.name }}</h2>
  <br/>

  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-primary mb-3 w-100">Ajouter une écriture</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary mb-3 w-100" [routerLink]="['../../../treasury']">Retour</button>
    </div>
  </div>


  <div style="overflow-x:auto;" class="u-max-full-width">
    <table class="table" *ngIf="result$ | async as result">
      <thead>
        <tr>
          <th>Date</th>
          <th>Auteur</th>
          <th>Intitulé</th>
          <th>Moyen</th>
          <th>Montant</th>
          <th>De / Vers</th>
        </tr>
      </thead>
      <tr *ngFor="let transaction of result.transactions | paginate: { itemsPerPage: result.item_per_page, currentPage: result.current_page, totalItems: result.item_count}"
          [ngClass]="(transaction.dst.id==account.id)?'table-success':'table-danger'">
        <td>{{ transaction.timestamp }}</td>
        <td>admin</td>
        <td>{{ transaction.name }}</td>
        <td>{{ transaction.payment_method.name }}</td>
        <td>{{ ( transaction.dst.id==account.id ? '+' : '-' ) + transaction.value }}€</td>
        <td>{{ ( transaction.src.id==account.id ? transaction.dst.name : transaction.src.name ) }}</td>
      </tr>
    </table>
  </div>
  <br/>
  <pagination previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  <br/><br/>
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-warning mb-3 w-100" [routerLink]="['/account/edit', account.id]">Modifier le compte</button>
    </div>
  </div>
</div>
