<h1>Ajout d'un appareil</h1>
<form *ngIf="!loading" [formGroup]="deviceForm" (ngSubmit)="onSubmit()" novalidate>
  <label class="center-block">Adresse MAC
    <input class="form-control" formControlName="mac">
  </label>
  <div class="form-group">
    <h2>Type d'appareil</h2>
    <label class="center-block"><input type="radio" formControlName="connectionType" value="wired">Filaire</label>
    <label class="center-block"><input type="radio" formControlName="connectionType" value="wireless">Wi-Fi</label>
  </div>
  <button type="submit"
         [disabled]="disabled || deviceForm.status == 'INVALID'" class="btn
         btn-success">Create</button>
</form>

<p>Form value: {{ deviceForm.value | json }}</p>
