<h2>Modification d'une chambre</h2>
<form [formGroup]="roomEdit" (ngSubmit)="onSubmit()" novalidate>
  <label>Numéro de la chambre</label>
  <input class="w-100" formControlName="roomNumber" disabled type="number">
  <br/><br/>
  <label>Vlan</label>
  <input class="w-100" formControlName="vlan" type="number">
  <br/><br/>
  <label>Description</label>
  <input class="w-100" formControlName="description" type="text">
  <br/><br/><br/>
  <button type="submit"
          [disabled]="disabled || roomEdit.status == 'INVALID'"
          class="w-100 btn btn-primary">Modifier
  </button>
</form>
