<a [routerLink]="['dashboard']">
<h1>{{ titre }} AUTHENTIFICATION</h1>
</a>
<nav [class.responsive]="navBarStatus">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <ul>
          <li>&nbsp;</li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<br />
<div class="container">
  <div class="dashboard">
    <img class="u-full-width" src="../assets/logoMiNET.png">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="twelve columns">
      <button class="u-full-width button-primary" (click)="login()">
          Login
      </button>
      <br />
      <button class="u-full-width button-primary" (click)="logoff()">
          Logout
      </button>
    </div>
  </div>
</div>
