<h2 class="text-left">Gestion de la trésorerie</h2>

<h3>État de la caisse</h3>

<div class="card-deck mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">20 €</h5>
        <p class="card-text text-center">Fond de caisse le ...</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">20 €</h5>
        <p class="card-text text-center">Montant dans la caisse</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">32 €</h5>
        <p class="card-text text-center">Montant dans le coffre</p>
      </div>
    </div>
  </div>

<button class="btn btn-primary mb-3" (click)="toggleFundManagement()">Gestion de la caisse</button>

<div class="list-group" *ngIf="showFundManagement">
  <div class="list-group-item">
      <form [formGroup]="fundManagementForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="row form-group">
          <div class="col-md-4">
            <label>Opérations caisse</label>
            <select class="form-control">
              <option>Ajouter dans la caisse</option>
              <option>Sortir de la caisse</option>
            </select>
          </div>
          <div class="col-md-8">
            <label>Montant</label>
            <input
            class="w-100 form-control"
            formControlName="toCashRegister"
            type="number"
            id="toCashRegister"
            placeholder="€"
          />
          </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4">
              <label>Opérations coffre</label>
              <select class="form-control">
                <option>Ajouter dans le coffre</option>
                <option>Sortir du coffre</option>
              </select>
            </div>
            <div class="col-md-8">
              <label>Montant</label>
              <input
              class="w-100 form-control"
              formControlName="toCashRegister"
              type="number"
              id="toCashRegister"
              placeholder="€"
            />
            </div>
          </div>

          <div class="form-group">
              <label for="labelOp">Libellé</label>
              <input
                class="w-100 form-control"
                formControlName="labelOp"
                type="text"
                id="labelOp"
                placeholder="Description de l'opération"
              />
            </div>

          <div class="form-group">
            <button
              type="AC"
              [disabled]="disabled || fundManagementForm.status == 'INVALID'"
              class="w-100 btn btn-primary"
            >
              Transférer
            </button>
          </div>
        </form>
  </div>
</div>


<hr />

<h3>Liste des comptes</h3>
<br/>

<div class="row">
  <div class="col-md-8">
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="form-control mb-3" type="text"/>
  </div>
  <div class="col-md-4">
    <a [routerLink]="['/account/add']">
      <button class="w-100 btn btn-primary">Nouveau compte</button>
    </a>
  </div>
</div>
<br/>

<div style="overflow-x:auto;" class="u-max-full-width">
  <table class="table table-striped clickable-table table-sm" *ngIf="result$ | async as result">
    <tr>
      <th>Nom</th>
      <th>Actif</th>
      <th>Type</th>
    </tr>

    <tr
    *ngFor="
      let accountResult of result.accounts
        | paginate
          : {
              itemsPerPage: result.items_per_page,
              currentPage: result.current_page,
              totalItems: result.item_count
            }
    "
    [routerLink]="['/account/view', accountResult.id]"
  >
    <td class="align-middle">
      {{ accountResult.name }}
    </td>
    <td class="align-middle">{{ accountResult.actif  == true ? 'Oui' : 'Non' }}</td>
    <td class="align-middle">{{ accountTypes[accountResult.type-1].name }}</td>
  </tr>
</table>
<pagination previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
(pageChange)="changePage($event)"></pagination>

</div>
