<div *ngIf="(room$ | async) as room">
  <h1>{{ room.description }}</h1>
  <ul><h2>Adhérent·e·s</h2>
    <li *ngFor="let member of members$ | async">
      <strong>{{ member.firstName }} {{ member.lastName }}</strong>
      <ul>
        <li><a [routerLink]="['/member', member.username]">Consulter</a></li>
        <li>Vider la chambre</li>
      </ul>
    </li>
  </ul>
  <ul><h2>Ports</h2>
    <li *ngFor="let portRes of ports$ | async">
      <strong>Switch {{ portRes.port.switchID }} port {{ portRes.port.portNumber }}</strong>
      <ul>
        <li>Etat</li>
        <li>Authentification</li>
        <li><a [routerLink]="['/switch', portRes.port.switchID, 'port', portRes.portID]">Configurer</a></li>
      </ul>
    </li>
  </ul>
  <ul><h2>Informations</h2>
    <li><strong>Numéro de chambre: </strong>{{ room.roomNumber }}</li>
    <li><strong>VLAN assigné: </strong>{{ room.vlan }}</li>
    <li><strong>Téléphone: </strong>{{ room.phone }}</li>
  </ul>
</div>
