<div *ngIf="(member$ | async) as member">
<h1>{{ member.firstName }} {{ member.lastName }} <a href="mailto:{{ member.email }}">Envoyer un mail</a></h1>
  <ul>
    <li><strong>Identifiant DISI:</strong> {{ member.username }}</li>
    <li><strong>Date de départ:</strong> {{ member.departureDate }}
      <ul>
		    <li>Paiements</li>
		    <li>Cotiser</li>
      </ul>
    </li>
    <li><strong>Numéro de chambre: </strong>{{ member.roomNumber }}
      <ul>
        <li><a [routerLink]="['../../../room', member.roomNumber ]">Consulter</a></li>
        <li>Déménager</li>
      </ul>
    </li>
	  <li><strong>Editer le profil</strong></li>
  </ul>
  
  <h2>Réseau filaire</h2>
  <table>
    <tr>
      <th>Adresse MAC</th>
      <th>Adresse IPv4</th>
      <th>Adresse IPv6</th>
      <th>MAB</th>
      <th>Editer</th>
      <th>Supprimer</th>
    </tr>
    <tr *ngFor="let device of wired_devices$ | async">
      <td>{{ device.mac }}</td>
      <td>{{ device.ipAddress }}</td>
      <td>{{ device.ipv6Address }}</td>
      <td>MAB</td>
      <td><a [routerLink]="['../../../device/edit', device.mac]">Editer</a></td>
      <td><a style="cursor: pointer" (click)="onDelete(device.mac)">Supprimer</a></td>
    </tr>
  </table>
  <p><a [routerLink]="['newdevice']">Nouvel ordinateur</a></p>
  
  <h2>Réseau Wi-Fi</h2>
  <table>
    <tr>
      <th>Adresse MAC</th>
      <th>Editer</th>
      <th>Supprimer</th>
    </tr>
    <tr *ngFor="let device of wireless_devices$ | async">
      <td>{{ device.mac }}</td>
      <td><a [routerLink]="['../../../device/edit', device.mac]">Editer</a></td>
      <td><a style="cursor: pointer" (click)="onDelete(device.mac)">Supprimer</a></td>
    </tr>
  </table>
  <p><a [routerLink]="['newdevice']">Nouvel appareil sans fil</a></p>
  
  <h2>Journal</h2>
  <p>Afficher les logs DHCP</p>
  
  <h2>Commentaires</h2>
  <p>Commentaire en cours de modification</p>
  <ul>
  	<li>Envoyer</li>
  	<li>Supprimer</li>
  </ul>
  
  <h2>Sidebar:</h2>
  <ul>
  	<li>{{ member.comment }}</li>
    <img src="http://trombi.tem-tsp.eu/photo.php?uid={{ member.username }}"/>
  	<li>Association des périphériques</li>
  	<li>Dernières modifications:
      <ul>
  		  <li>Modification récente</li>
  	  </ul>
    </li>
  </ul>
</div>
