<div *ngIf="(member$ | async) as member" class="row">


  <div class="nine columns">
  <h2>{{ member.firstName }} {{ member.lastName }}</h2>
  <ul>
    <li><strong>Identifiant DISI:</strong> {{ member.username }}</li>
    <li><strong>Envoyer un mail:</strong> <a href="mailto:{{ member.email }}">
        &#9993;</a></li>
    <li><strong>Date de départ:</strong> {{ member.departureDate }}
      <ul>
		    <li>Paiements</li>
		    <li>Cotiser</li>
      </ul>
    </li>
    <li><strong>Numéro de chambre: </strong>{{ member.roomNumber }}
      <ul>
        <li><a [routerLink]="['../../../room', member.roomNumber ]">Consulter</a></li>
        <li>Déménager</li>
      </ul>
    </li>
	  <a [routerLink]="['../../edit/', member.username ]"><button>Editer le profil</button></a>
  </ul>
  
  <div class="row">
  <h3>Réseau filaire</h3>
  <table class="u-full-width">
    <tr>
      <th>Adresse MAC</th>
      <th>Fabricant</th>
      <th>Adresse IPv4</th>
      <th>Adresse IPv6</th>
      <th>MAB</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let device of wired_devices$ | async">
      <td>{{ device.mac }}</td>
      <td><app-mac-vendor mac="{{device.mac}}"></app-mac-vendor></td>
      <td>{{ device.ipAddress }}</td>
      <td>{{ device.ipv6Address }}</td>
      <td>MAB</td>
      <td><a [routerLink]="['../../../device/edit', device.mac]"><button>Editer</button></a></td>
      <td><a style="cursor: pointer" (click)="onDelete(device.mac)"><button>Supprimer</button></a></td>
    </tr>
  </table>
  <p><a [routerLink]="['newdevice']"><button>Nouvel ordinateur</button></a></p>
  </div>
  
  <h3>Réseau Wi-Fi</h3>
  <table class="u-full-width">
    <tr>
      <th>Adresse MAC</th>
      <th>Fabricant</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let device of wireless_devices$ | async">
      <td>{{ device.mac }}</td>
      <td><app-mac-vendor mac="{{device.mac}}"></app-mac-vendor></td>
      <td><a [routerLink]="['../../../device/edit', device.mac]"><button>Editer</button></a></td>
      <td><a style="cursor: pointer" (click)="onDelete(device.mac)"><button>Supprimer</button></a></td>
    </tr>
  </table>
  <p><a [routerLink]="['newdevice']"><button>Nouvel appareil sans fil</button></a></p>
  
  <h3>Journal</h3>
  <p>Afficher les logs DHCP</p>
  
  <h3>Commentaire</h3>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmitComment()" novalidate>
    <textarea class="u-full-width" formControlName="comment"></textarea>
    <div class="row">
      <button type="submit" class="button-primary"
      [disabled]="commentSubmitDisabled">Envoyer</button>
    </div>
  </form>
  
  </div>
  <div class="three columns">
    <h3>Sidebar:</h3>
    <ul>
      <li>{{ member.comment }}</li>
      <img src="http://trombi.tem-tsp.eu/photo.php?uid={{ member.username }}"/>
      <li>Association des périphériques</li>
      <li>Dernières modifications:
        <ul>
          <li>Modification récente</li>
        </ul>
      </li>
    </ul>
  </div>
</div>


