<h2>Modification du Switch {{ switch.description }}</h2>
<form [formGroup]="roomEdit" (ngSubmit)="onSubmit()" novalidate>
  <label>Adresse IP</label>
  <input class="w-100" formControlName="roomNumber" disabled type="number">
  <br/><br/>
  <button type="submit"
          [disabled]="disabled || roomEdit.status == 'INVALID'"
          class="w-100 btn btn-primary">Modifier
  </button>
</form>
<button type="submit"
        [disabled]="disabled || roomEdit.status == 'INVALID'"
        class="w-100 btn-danger">Supprimer
</button>

