<h2>Modification d'un appareil</h2>
<form [formGroup]="deviceForm" (ngSubmit)="onSubmit()" novalidate>
  <label>Propriétaire</label>
  <input class="u-full-width" formControlName="username" type="text">

  <label>Adresse MAC</label>
  <input class="u-full-width" formControlName="mac" type="text">

  <div class="form-group">
    <label>Type d'appareil</label>

    <label>
      <input type="radio" formControlName="connectionType" value="wired">
      <span class="label-body">Filaire</span>
    </label>

    <label>
      <input type="radio" formControlName="connectionType" value="wireless">
      <span class="label-body">Wi-Fi</span>
    </label>
  </div>

  <button type="submit"
          [disabled]="disabled || deviceForm.status == 'INVALID'"
          class="button-primary">Modifier</button>
</form>

<p>Form value: {{ deviceForm.value | json }}</p>
