<div id="title-bar" class="row">
  <div class="two columns">
    <h1>AboXII</h1>
  </div>
</div>
<div class="row" id="nav">
  <div class="one column"></div>
  <div class="eleven columns">
    <ul>
      <li [routerLinkActive]="['active']"><a [routerLink]="['dashboard']">Accueil</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['member/search']">Adhérent·e·s</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['device/search']">Appareils</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['room']">Chambres</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['switch']">Switchs</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['port']">Ports</a></li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="one column"></div>
  <div class="ten columns">
      <router-outlet></router-outlet>
  </div>
  <div class="one column"></div>
</div>
