<title>{{ titre }}</title>
<a style="cursor: pointer" (click)="alert_type='default'">
<div class="alert {{ alert_type }}">
<div class="container" id="title-bar">
  <div class="row">
    <div class="twelve columns">
      <span class="closebtn" (click)="alert_type='default'">&times;</span>  
      <strong>{{ alert_message_type  }} ! &nbsp;</strong> {{ alert_message_display }}
    </div>
  </div>
</div>
</div>
</a>
<div class="container" id="title-bar">
  <div class="row">
    <div class="twelve columns">
      <h1>{{ titre }}</h1>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
<div class="container">
    <router-outlet></router-outlet>
</div>
