<h2 class="text-left">Création d'un compte</h2>
<form>
  <div class="form-group">
    <label>Nom / Intitulé :</label>
    <input class="w-100 form-control" type="text">
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Type de compte :</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Adhérent</option>
      <option>Club</option>
      <option>Événement</option>
      </select>
    </div>
<br/>
  <br/>
  <br/>
  <br/>
  <div class="form-group">
    <button class="btn btn-primary w-100">Créer le compte</button>
  </div>
</form>
