<h2 class="text-left">Création d'un compte</h2>

<form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Nom / Intitulé :</label>
    <input
      class="w-100 form-control"
      type="text"
      formControlName="accountName"
    />
  </div>

  <div class="form-group">
    <label for="accountType">Type de compte :</label>
    <select class="form-control" id="accountType" formControlName="accountType">
      <option
        *ngFor="let accountType of accountTypes$ | async"
        value="{{ accountType.account_type_id }}"
        >{{ accountType.name }}</option
      >
    </select>
  </div>

  <div class="form-group">
    <button
      class="btn btn-primary w-100"
      type="submit"
      [disabled]="disabled || accountForm.status == 'INVALID'"
    >
      Créer le compte
    </button>
  </div>
</form>
