.search_tag {
  font-size: 0.7rem;
  border-radius: 0.25rem;
  padding: 0.3rem;
  color: white;
  border: 1px solid black;
}

.suggestion input {
  margin: 0;
}

.suggestion div a {
  margin: 0;
  list-style-type: none;
  padding-left: 1rem;
  border: 1px solid #d1d1d1;
  border-top: 0;
  display: block;
  background-color: white;
  text-align: left;
}

.suggestion div a:hover {
  background-color: #a9edff;
}



