<div class="suggestion">
  <input type="text" placeholder="Rechercher..." class="w-100 form-control" #searchBox (keyup)="search(searchBox.value)"/>
  <div class="list-group w-100">
      <a
        [routerLink]="searchResult.link"
        [queryParams]="searchResult.queryParams"
        class="list-group-item"
        *ngFor="let searchResult of searchResult$ | async"
        >
         <span [ngStyle]="{ 'background-color': searchResult.color }" class="search_tag">{{ searchResult.objType | uppercase }}</span>
          {{ searchResult.name }}
      </a>
  </div>
</div>
