<h2 class="row">Liste des adhérent·e·s</h2>
<div class="row">
  <div class="seven columns">
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="u-full-width" type="text"/>
  </div>
  <div class="five columns">
    <a [routerLink]="['../add']"><button class="u-full-width button-primary">Nouvelle inscription</button></a>
  </div>
</div>
<div style="overflow-x:auto;" class="u-max-full-width">
  <table class="u-full-width">
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Login</th>
      <th>Chambre</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let member of members$ | async" >
      <td>{{member.firstName}}</td>
      <td>{{member.lastName}}</td>
      <td>{{member.username}}</td>
      <td><a [routerLink]="['../../room', member.roomNumber]">{{member.roomNumber}}</a></td>
      <td><a [routerLink]="['../view', member.username]"><button>Consulter</button></a></td>
    </tr>
  </table>
</div>
