<h1>Liste des adhérent·e·s</h1>
<a [routerLink]="['../add']">Nouvelle inscription</a>
<table>
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Login</th>
    <th>Chambre</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let member of members$ | async" >
    <td>{{member.firstName}}</td>
    <td>{{member.lastName}}</td>
    <td>{{member.username}}</td>
    <td>{{member.roomNumber}}</td>
    <td><a [routerLink]="['../view', member.username]">Consulter</a></td>
    <td><a [routerLink]="['../edit', member.username]">Éditer</a></td>
  </tr>
</table>
