<h2 class="text-left">Nouvelle transaction</h2>
<hr>

<form [formGroup]="transactionDetails" (ngSubmit)="onSubmit()" novalidate>
  <div class="card-deck">
    <div class="card">
      <div class="card-header text-white bg-danger">Compte source</div>
      <div class="card-body">
        <div class="suggestion">
          <input type="text" placeholder="Rechercher..." class="w-100 form-control" #srcAccount
                 (keyup)="srcSearch(srcAccount.value)"/>
          <div class="list-group w-100">
            <a
              (click)="console.log(searchResult.value)"
              class="list-group-item"
              *ngFor="let searchResult of srcSearchResult$ | async"
            >
              {{ searchResult.name }}
            </a>
          </div>
        </div>
      </div>
      <div class="card-footer">Ce compte sera <span class="font-weight-bold">débité</span></div>
    </div>
    <div class="card">
      <div class="card-header">Transaction</div>
      <div class="card-body">
        <div class="form-group mb-3">
          <input type="text" class="form-control" aria-label="Description" placeholder="Description" formControlName="name">
        </div>
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="value">€</span>
          </div>
          <input type="text" class="form-control" aria-label="value" aria-describedby="value" formControlName="value" type="number">
          <select class="w-100 form-control" type="text"
              formControlName="paidBy">
              <option *ngFor="let pm of paymentMethods$ | async" value="{{ pm.id }}">{{ pm.name }}</option>
            </select>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header text-white bg-success">Compte destination</div>
      <div class="card-body">
        <div class="suggestion">
          <input type="text" placeholder="Rechercher..." class="w-100 form-control" #dstAccount
                 (keyup)="dstSearch(dstAccount.value)"/>
          <div class="list-group w-100">
            <a
              (click)="console.log(searchResult.value)"
              class="list-group-item"
              *ngFor="let searchResult of dstSearchResult$ | async"
            >
              {{ searchResult.name }}
            </a>
          </div>
        </div>
      </div>
      <div class="card-footer">Ce compte sera <span class="font-weight-bold">crédité</span></div>
    </div>
  </div>

  <br>
  <button type="submit" class="btn btn-primary w-100">Créer</button>

</form>

  <br>
  <h3 class="text-left">Transactions récentes</h3>
  <table class="table table-striped" *ngIf="result$ | async as result">
    <thead>
      <tr>
        <th>Compte source</th>
        <th>Description</th>
        <th>Date</th>
        <th>Valeur</th>
        <th>Compte destination</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let transactionResult of result.transactions | paginate: { itemsPerPage: result.items_per_page, currentPage: result.current_page, totalItems: result.item_count}">
        <td class="center">{{ transactionResult.src }}</td>
        <td class="center">{{ transactionResult.name }}</td>
        <td class="center">{{ transactionResult.timestamp }}</td>
        <td class="center">{{ transactionResult.value }}</td>
        <td class="center">{{ transactionResult.dst }}</td>
      </tr>
    </tbody>
  </table>
  <pagination previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
              (pageChange)="changePage($event)"></pagination>