<h2>Création d'une chambre</h2>
<form [formGroup]="roomForm" (ngSubmit)="onSubmit()" novalidate>
  <label>Numéro de la chambre</label>
  <input class="w-100" formControlName="roomNumber" type="number">
  <br/><br/>
  <label>Vlan</label>
  <input class="w-100" formControlName="vlan" type="number">
  <br/><br/>
  <label>Description</label>
  <input class="w-100" formControlName="description" type="text">
  <br/><br/><br/>
  <button type="submit"
          [disabled]="disabled || roomForm.status == 'INVALID'"
          class="w-100 btn btn-primary">Créer
  </button>
</form>
