<h2>Édition d'un membre</h2>

<form [formGroup]="memberEdit" (ngSubmit)="onSubmit()" novalidate>

  <div class="row">
    <div class="six columns">
      <label>Last name / Nom:</label>
      <input class="u-full-width" type="text" formControlName="lastName">
    </div>
    <div class="six columns">

      <label>First name / Prénom:</label>
      <input class="u-full-width" type="text" formControlName="firstName">
    </div>
  </div>

  <label>Login DISI:</label>
  <input class="u-full-width" type="text" formControlName="username">

  <label>Mail:</label>
  <input class="u-full-width" type="text" formControlName="email">


  <label>Room number / Numéro de chambre:</label>
  <input class="u-full-width" type="text" formControlName="roomNumber" type="number">

  <br /><br />
  <div class="row">
    <div class="six columns">
     <button type="submit"
        [disabled]="disabled || memberEdit.status == 'INVALID'"
        class="u-full-width button-primary"
        >Éditer</button>
    </div>
    <div class="six columns">
     <a (click)="onDelete()"><button
        [disabled]="enabled"
        class="u-full-width button-danger">
        Supprimer</button></a>
    </div>
  </div>
</form>
