{% include 'head.html' %}
<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h2>Create Client</h2>
      <form action="" method="post">
        <label>
          <span>Client Name</span><br />
          <input class="u-full-width" type="text" name="client_name">
        </label>
        <label>
          <span>Client URI</span><br />
          <input class="u-full-width" type="url" name="client_uri">
        </label>
        <label>
          <span>Allowed Scope</span><br />
          <input class="u-full-width" type="text" name="scope">
        </label>
        <label>
          <span>Redirect URIs</span><br />
          <textarea class="u-full-width" name="redirect_uri" cols="30" rows="10"></textarea>
        </label>
        <label>
          <span>Allowed Grant Types</span><br />
          <textarea class="u-full-width" name="grant_type" cols="30" rows="10"></textarea>
        </label>
        <label>
          <span>Allowed Response Types</span><br />
          <textarea class="u-full-width" name="response_type" cols="30" rows="10"></textarea>
        </label>
        <label>
          <span>Token Endpoint Auth Method</span><br />
          <select class="u-full-width" name="token_endpoint_auth_method">
            <option value="client_secret_basic">client_secret_basic</option>
            <option value="client_secret_post">client_secret_post</option>
            <option value="none">none</option>
          </select>
        </label><br />
        <button class="u-full-width button-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
