<a [routerLink]="['dashboard']">
  <h1>{{ titre }}</h1>
</a>
<nav [class.responsive]="navBarStatus">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul>
          <li>&nbsp;</li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<br/>
<div class="container">
  <div class="dashboard">
    <img class="w-100" src="../assets/logoMiNET.png">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <button class="w-100 btn btn-primary" (click)="login()">
        Se connecter
      </button>
      <br/>
    </div>
  </div>
</div>
