<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0056b3;">
    <a class="navbar-brand" [routerLink]="['dashboard']">
        <img src="../assets/logoMiNET.png" height="30" class="d-inline-block align-top" alt="">
        {{ titre }}
      </a>
</nav>
<br/>
<div class="container">
  <div class="dashboard">
    <img class="w-50" src="../assets/logoMiNET.png">
  </div>
</div>
<br/>
<div class="container">
  <div class="row">
    <div class="col">
      <button class="w-100 btn btn-primary" (click)="login()">
        Se connecter
      </button>
      <br/>
    </div>
  </div>
</div>
