<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0056b3;">
  <a class="navbar-brand" [routerLink]="['dashboard']">
    <img src="../assets/logoMiNET.png" height="30" class="d-inline-block align-top" alt="">
    {{ titre }}
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navBarStatus }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['member/search']">Adhérents</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['device/search']">Appareils</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['switch_local']">Switch Local</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['room/search']">Chambres</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['switch/search']">Switchs</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['port/search']">Ports</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" (click)="logout()" style="cursor: pointer;">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>
