<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='login.component.css') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

<a>
<h1>AUTHENTIFICATION SERVER</h1>
</a>
<nav [class.responsive]="navBarStatus">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <ul>
          <li>&nbsp;</li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<br />
<div class="container">
  <div class="dashboard">
    <img class="u-full-width" src="{{ url_for('static', filename='logoMiNET.png') }}">
  </div>
</div>
