{% include 'head.html' %}
<div class="container">
  <div class="row">
    <div class="twelve columns">
      {% if user %}
      <div>
        Logged in as <strong>{{user}}</strong>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ url_for('.logout') }}">
        <button class="button-danger">Log Out</button>
        </a>
      </div>
      <br />
      {% for client in clients %}
      <pre>
      {{ client.client_info|tojson }}
      {{ client.client_metadata|tojson }}
      </pre>
      <hr>
      {% endfor %}

      <br><a href="{{ url_for('.create_client') }}">
      <button class="u-full-width button-primary">Create Client</button></a>

      {% else %}
      <form action="" method="post">
        <label>Login</label>
        <input class="u-full-width" type="text" name="username" placeholder="username">
        <br /><br />
        <label>Password</label>
        <input class="u-full-width" type="password" name="password" placeholder="password"> 
        <br /><br />
        <button class="u-full-width button-primary" type="submit">Login / Signup</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>
