{% include 'head.html' %}
{% if user %}
<div>Logged in as <strong>{{user}}</strong> (<a href="{{ url_for('.logout') }}">Log Out</a>)</div>

{% for client in clients %}
<pre>
{{ client.client_info|tojson }}
{{ client.client_metadata|tojson }}
</pre>
<hr>
{% endfor %}

<br><a href="{{ url_for('.create_client') }}">Create Client</a>

{% else %}
<div class="container">
  <div class="row">
    <div class="twelve columns">
      <br />
      <h1>Authentication</h1>
      <form action="" method="post">
        <label>Login</label>
        <input class="u-full-width" type="text" name="username" placeholder="username">
        <br /><br />
        <label>Password</label>
        <input class="u-full-width" type="password" name="password" placeholder="password"> 
        <br /><br />
        <button class="u-full-width button-primary" type="submit">Login / Signup</button>
      </form>
    </div>
  </div>
</div>
{% endif %}
