<h2 class="text-left">Liste des adhérents</h2>
<br/>

<div class="row">
  <div class="col-md-8">
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="form-control mb-3" type="text"/>
  </div>
  <div class="col-md-4">
    <a [routerLink]="['./add']">
      <button class="w-100 btn btn-primary">Nouvelle inscription</button>
    </a>
  </div>
</div>
<br/>

<div style="overflow-x:auto;" class="u-max-full-width">
  <table class="table table-striped clickable-table" *ngIf="result$ | async as
    result">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Login</th>
      <th class="roomNumberRow">Chambre</th>
    </tr>
    </thead>
    <tr
      *ngFor="let member of result.members | paginate: { itemsPerPage: result.item_per_page, currentPage: result.current_page, totalItems: result.item_count}"
      [routerLink]="['../view', member.username]">
      <td>{{ member.lastName | uppercase }} <span class="capitalize">{{ member.firstName | lowercase }}</span></td>
      <td>{{ member.username }}</td>
      <td class="roomNumberRow"><a [routerLink]="['/room/view', member.roomNumber]">{{ member.roomNumber }}</a></td>
    </tr>
    <br/>
  </table>

  <pagination previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
              (pageChange)="changePage($event)"></pagination>
</div>
