<div *ngIf="(device$ | async) as device">
  <h1>Détails de l'appareil</h1>
  <ul>
    <li><strong>Propriétaire:</strong> <a
        [routerLink]="['../../../member/view/',device.username]"> {{ device.username
    }} </a></li>
    <li><strong>Adresse MAC:</strong> {{ device.mac }}</li>
    <li><strong>Type d'appareil:</strong> {{ device.connectionType }}</li>
    <div *ngIf="device.connectionType == 'wired'">
      <li><strong>Adresse IPv4:</strong> {{ device.ipAddress }}</li>
      <li><strong>Adresse IPv6:</strong> {{ device.ipv6Address }}</li>
      <li><strong>MAB:</strong> MAB</li>
    </div>
    <li><strong><a [routerLink]='["../../../device/edit", device.mac]'>Editer</a></strong></li>
    <li><strong><a style="cursor:pointer" (click)="onDelete(device.mac)">Supprimer</a></strong></li>
  </ul>
</div>
