<h2>Liste des ports</h2>
<div class="row">
  <div class="twelve columns">
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="u-full-width" type="text"/>
  </div>
</div>
<div style="overflow-x:auto;" class="u-max-full-width">
  <table class="u-full-width">
    <tr>
      <th>Switch</th>
      <th>Numéro de port</th>
      <th>Chambre</th>
      <th></th>
    </tr>
    <tr *ngFor="let portResult of ports$ | async">  
      <td>{{ portResult.switchID }}</td>
      <td>{{ portResult.portNumber }}</td>
      <td>{{ portResult.roomNumber }}</td>
      <td><a [routerLink]="['../switch', portResult.switchID, 'port',
          portResult.id]"><button>Consulter</button></a></td>
    </tr>
  </table>
</div>
