<h2>Liste des ports</h2>
<div class="row">
  <div class="seven columns">
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="u-full-width" type="text"/>
  </div>
  <div class="five columns">
    <a [routerLink]="['../add']"><button class="u-full-width
        button-primary">Nouveau port</button></a>
  </div>
</div>
<div style="overflow-x:auto;" class="u-max-full-width">
  <table class="u-full-width">
    <tr>
      <th class="center">Switch</th>
      <th class="center">Numéro de port</th>
      <th class="center">Chambre</th>
      <th></th>
    </tr>
    <tr *ngFor="let portResult of ports$ | async | paginate: { itemsPerPage:
      items_per_page, currentPage: page_number, totalItems: item_count}">
      <td class="center">{{ portResult.switchID }}</td>
      <td class="center">{{ portResult.portNumber }}</td>
      <td class="center">
        <a [routerLink]="['/room/view', portResult.roomNumber]">{{ portResult.roomNumber }}</a></td>
      <td class="center">
        <a [routerLink]="['/switch/view', portResult.switchID, 'port', portResult.id]">
        <button>Consulter</button>
        </a>
      </td>
    </tr>
  </table>
  <pagination-controls 
    class="pagination" 
    (pageChange)="refreshPorts($event)"
    previousLabel="" nextLabel=""
    ></pagination-controls>
</div>
