<h2>Liste des ports</h2>
<div style="overflow-x:auto;" class="u-max-full-width">
  <table class="u-full-width">
    <tr>
      <th>Switch</th>
      <th>Numéro de port</th>
      <th>Chambre</th>
      <th></th>
    </tr>
    <tr *ngFor="let portResult of ports$ | async">  
      <td>{{ portResult.port.switchID }}</td>
      <td>{{ portResult.port.portNumber }}</td>
      <td>{{ portResult.port.roomNumber }}</td>
      <td><a [routerLink]="['../switch', portResult.port.switchID, 'port', portResult.portID]"><button>Consulter</button></a></td>
    </tr>
  </table>
</div>
