<div class="container mb-3">
  <h2 class="text-left">Liste des switchs</h2>
  <br/>

  <div class="row">
    <div class="col-md-7">
      <input
        #searchBox
        id="search-box"
        (keyup)="search(searchBox.value)"
        class="w-100 form-control mb-3"
        type="text"
      />
    </div>
    <div class="col-md-5">
      <a [routerLink]="['../add']">
        <button
          class="w-100 btn btn-primary mb-3"
        >
          Nouveau switch
        </button>
      </a>
    </div>
  </div>

  <div style="overflow-x:auto;" class="u-max-full-width">
    <table class="w-100 table table-striped clickable-table" *ngIf="result$ | async as result">
      <tr>
        <th>Description</th>
        <th class="center">Adresse IP</th>
        <th></th>
      </tr>
      <tr
        *ngFor="
          let switchResult of result.switches
            | paginate
              : {
                  itemsPerPage: result.items_per_page,
                  currentPage: result.current_page,
                  totalItems: result.item_count
                }
        "
        [routerLink]="['/switch/edit', switchResult.id]"
      >
        <td class="align-middle">
          {{ switchResult.description }}
        </td>
        <td class="center align-middle">{{ switchResult.ip }}</td>
        <td class="center align-middle">
          <a [routerLink]="['/switch/view', switchResult.id]">
            <button class="btn btn-primary">Liste des Ports</button>
          </a>
        </td>
      </tr>
    </table>

    <pagination previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChange)="changePage($event)"></pagination>
  </div>
</div>
