<h2>Création d'un switch</h2>
<form [formGroup]="switchForm" (ngSubmit)="onSubmit()" novalidate>
 <label>Description</label>
  <input class="w-100" formControlName="description" type="text">
  <br/><br/>
  <label>Addresse IP</label>
  <input class="w-100" formControlName="ip" type="text">
  <br/><br/>
  <label>Community string</label>
  <input class="w-100" formControlName="community" type="text">
  <br/><br/><br/>
  <button type="submit"
          [disabled]="disabled || switchForm.status == 'INVALID'"
          class="w-100 btn btn-primary">Créer</button>
</form>
