<div *ngIf="(port$ | async) as port">
  <h2>Configuration de port - Chambre {{ port.roomNumber }}</h2>
  <p>Jolie image pour dire si le port est authentifié ou non</p>
  <ul><h3>Actions</h3>
    <li>Fermer le port</li>
    <li>Désactiver l'authentification</li>
  </ul>
  <ul><h3>Informations</h3>
    <li><strong>Switch: </strong>{{ port.switchID }}</li>
    <li><strong>Numéro de port: </strong>{{ port.portNumber }}</li>
    <li><strong>VLAN: </strong></li>
    <li><strong>Vitesse: </strong></li>
</ul>
</div>
