<ul class="members-list">
  <li *ngFor="let member of members$ | async" >
    <a [routerLink]="['/member', member.username]">{{member.firstName}} {{member.lastName}}</a>
  </li>
</ul>

<h1>Nom de l'adhérent</h1>
<ul>
	<li>Identifiant DISI: $ID</li>
	<li>Date de départ: 31 février 2003</li>
	<ul>
		<li>Paiements</li>
		<li>Cotiser</li>
	</ul>
	<li>Numéro de chambre:</li>
	<ul>
		<li>N°666</li>
		<li>Déménager</li>
	</ul>
	<li>Editer le profil</li>
</ul>

<h2>Réseau filaire</h2>
<ul>
	<ul>
		<li>Adresse MAC</li>
		<li>Adresse IPv4</li>
		<li>Adresse IPv6</li>
		<li>MAB</li>
		<li>Editer</li>
		<li>Supprimer</li>
	</ul>
</ul>
<p>Nouvel ordinateur<p>

<h2>Réseau Wi-Fi</h2>
<ul>
	<ul>
		<li>Adresse MAC</li>
		<li>Editer</li>
		<li>Supprimer</li>
	</ul>
</ul>
<p>Nouvel appareil sans fil</p>

<h2>Journal</h2>
<p>Afficher les logs DHCP</p>

<h2>Commentaires</h2>
<p>Commentaire en cours de modification</p>
<ul>
	<li>Envoyer</li>
	<li>Supprimer</li>
</ul>

<ul>Sidebar:
	<li>Commentaire de l'adhérent</li>
	<li>Photo</li>
	<li>Association des périphériques</li>
	<ul>Dernières modifications:
		<li>Modification récente</li>
	</ul>
</ul>
