<h2 class="text-left">Modification d'un produit </h2>

<form [formGroup]="editProductForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label>Nom :</label>
    <input
      class="w-100 form-control"
      type="text"
      formControlName="productName"
      disabled
    />
  </div>

  <form [formGroup]="editProductForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Prix d'achat :</label>
    <input
      class="w-100 form-control"
      type="number"
      formControlName="productBuyingPrice"
    />
  </div>

    <form [formGroup]="editProductForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Prix de vente :</label>
    <input
      class="w-100 form-control"
      type="number"
      formControlName="productSellingPrice"
    />
  </div>

  <div class="form-group">
    <button
      class="btn btn-primary w-100"
      type="submit"
      [disabled]="disabled || editProductForm.status == 'INVALID'"
    >
      Éditer le compte
    </button>
  </div>

</form>
