<h2>Switch Local</h2>
<div class=row>
  <div *ngIf="(switch$ | async) as switch">
  <div class="six columns">
    <p><strong>Adresse IP:</strong> {{ switch.ip }}</p>
    <img src="assets/plan-local.png" />
    <br /><br /><br />
  </div>
  <br /><br /><br /><br />
  <div class="six columns">
      <table class="u-full-width">
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let portRes of ports$ | async">
          <td>
              <a [routerLink]="['port/', portRes.portID]">
              <button>{{ i }}</button>
              </a></td>
          <td>
              <a [routerLink]="['port/', portRes.portID]">
              <button>{{ portRes.port.portNumber }}</button>
              </a></td>
          <td>
              <a [routerLink]="['port/', portRes.portID]">
              <button>{{ portRes.port.portNumber }}</button>
              </a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
