<h2>Switch Local</h2>
<div class="row">
  <div *ngIf="(switch$ | async) as switch">
    <p><strong>Adresse IP:</strong> {{ switch.ip }}</p>
    <div class="five columns">
      <img src="assets/plan-local.png" />
    </div>
    <br /><br /><br />
    <div class="two columns">
      <div *ngFor="let portResult of ports$ | async">
        <div *ngIf="portResult.id>=3 && portResult.id<=9">
          <a [routerLink]="['/switch/view', switchID, 'port', portResult.id]">
          <button
            class="u-full-width button-primary"
            >{{ portResult.id }}</button>
          </a>
        </div>
      </div>
    </div>
    <div class="two columns">
      <div *ngFor="let portResult of ports$ | async">
        <div *ngIf="portResult.id>=10 && portResult.id<=16">
          <a [routerLink]="['/switch/view', switchID, 'port', portResult.id]">
          <button
            class="u-full-width button-primary"
            >{{ portResult.id }}</button>
          </a>
        </div>
      </div>
    </div>
    <div class="two columns">
      <div *ngFor="let portResult of ports$ | async">
        <div *ngIf="portResult.id>=17 && portResult.id<=24">
          <a [routerLink]="['/switch/view', switchID, 'port', portResult.id]">
          <button
            class="u-full-width button-primary"
            >{{ portResult.id }}</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
