<ng-container *ngIf="access_token == ''">
  <form [formGroup]="formGroup" (ngSubmit)="createNainA()" novalidate>
    <div class="form-group">
      <label>Prénom</label>
      <input class="form-control" type="text" formControlName="first_name"/>
    </div>
    <div class="form-group">
      <label>Nom de famille</label>
      <input class="form-control" type="text" formControlName="last_name">
    </div>

    <p style="font-weight: bold">
      En créant ce compte temporaire j'assume la responsabilité de la bonne utilisation des droits fournis à la personne
      désignée.
      Je certifie également que le prénom et nom fournis sont corrects.
    </p>

    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary w-100"
                [disabled]="disabled || formGroup.status == 'INVALID'">
          Créer
        </button>
      </div>
    </div>

  </form>

  <br/>

  <a (click)="revokeTokens()">
    <button type="submit" class="btn btn-danger w-100" [disabled]="disabled">
      Révoquer tous les comptes NainA
    </button>
  </a>
</ng-container>
<ng-container *ngIf="access_token != ''">
  <h2>Lien d'accès</h2>
  <label for="textbox_link" class="row">
    Envoyez ce lien au 1A:
  </label>
  <div class="row">
    <input type="text" id="textbox_link" value="{{ url }}dashboard#naina_token={{ access_token }}" readonly #userinput
           class="w-100">
  </div>
  <div class="row">
    <button (click)="copyLink(userinput)" value="click to copy" class="w-100">Copier</button>
  </div>
</ng-container>
