<ng-container *ngIf="access_token == ''">
  <form [formGroup]="formGroup" (ngSubmit)="createNainA()" novalidate>
    <label>Prénom</label>
    <input class="u-full-width" type="text" formControlName="first_name"/>

    <label>Nom de famille</label>
    <input class="u-full-width" type="text" formControlName="last_name">

    <p style="font-weight: bold">
      En créant ce compte temporaire j'assume la responsabilité de la bonne utilisation des droits fournis à la personne
      désignée.
      Je certifie également que le prénom et nom fournis sont corrects.
    </p>
    <button type="submit" class="u-full-width button-primary"
            [disabled]="disabled || formGroup.status == 'INVALID'">
      Créer
    </button>
  </form>
</ng-container>
<ng-container *ngIf="access_token != ''">
  <h2>Lien d'accès</h2>
  <label for="textbox_link" class="row">
    Envoyez ce lien au 1A:
  </label>
  <div class="row">
    <input type="text" id="textbox_link" value="{{ url }}dashboard#naina_token={{ access_token }}" readonly #userinput class="u-full-width">
  </div>
  <div class="row">
    <button (click)="copyLink(userinput)" value="click to copy" class="u-full-width">Copier</button>
  </div>
</ng-container>
