<h2>Nouvelle inscription</h2>
<form [formGroup]="memberForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="row">
    <div class="six columns">
      <label>Last name / Nom:</label>
      <input autocomplete="off" class="u-full-width" type="text" formControlName="lastName">
    </div>
    <div class="six columns">

      <label>First name / Prénom:</label>
      <input autocomplete="off" class="u-full-width" type="text" formControlName="firstName">
    </div>
  </div>

  <label>Login DISI:</label>
  <input autocomplete="off" class="u-full-width" type="text" formControlName="username">

  <label>Mail:</label>
  <input autocomplete="off" class="u-full-width" type="text" formControlName="email">


  <label>Room number / Numéro de chambre:</label>
  <input autocomplete="off" class="u-full-width" type="text" formControlName="roomNumber" type="number">

  <div formGroupName="passwords">
    <label>Password / Mot de passe:</label>
    <input autocomplete="off" class="u-full-width" formControlName="password" type="password">

    <label>Confirm password / Confirmez le mot de passe:</label>
    <input autocomplete="off" class="u-full-width"
    formControlName="confirmPassword" type="password">
  </div>
  <br />
  <button type="submit"
          [disabled]="disabled || memberForm.status == 'INVALID'"
          class="u-full-width button-primary">Create</button>
</form>
